<h1>New Task</h1>
<form action="/tasks" method="POST">

  <h3>Create a new chore:</h3>
  <input type="text" name="task[title]" id="task_title" placeholder="ex: Sweeping">
  <br></br>
  <button type="submit" name="submit">submit</button>
</form>
