<h1><%= @user.username%></h1>

<form action="/users/<%= @user.id%>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <button type="submit">Delete User</button>
</form>
