<% if flash.has?(:message) %>
  <h1><%=flash[:message]%></h1>
<%end%>

<h1>Welcome back, <%= @user.username%>, have you finished your chores?</h1>
<br></br>

<ul>
<% @user.chores.each do |chore| %>
  <li> <%= chore.title %> </li>
  <br />
<% end %>


<h4><a href="/chores/new">Create a new chore</a></h4>
<br></br>

<a href="/logout">Log out</a>
<br></br>

<form action="/users/<%= @user.id%>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <button type="submit">Delete User</button>
</form>
