<% if flash.has?(:message) %>
  <h1><%=flash[:message]%></h1>
<%end%>

<h1>Welcome back, <%= @user.username%>, it's that time again...</h1>
<br></br>


<h2><a href="/cycles/new">Sign up for a new chore cycle!</a></h2>
<br></br>
<h4><a href="/chores/new">Create a new chore!</a></h4>
<br></br>

<h4>When you are done with your chore, let everyone know you are a:</h4>
<form action="/cycles/<%=@cycle.id%>" method="POST">
  <input type="hidden" name="_method" id="hidden" value="patch">
  <input type="hidden" name="complete" id="hidden" value="true">
  <button type="submit">Rock Star</button>
</form>
<br></br>

<a href="/logout">Log out</a>
<br></br>

<form action="/users/<%= @user.id%>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <button type="submit">Delete User</button>
</form>
