<form action="/cycles" method="POST">

  <label for="chore_id">Select a Chore</label>
<select id="chore_id" name="chore_id" type="text">
  <% @chores.each do |chore| %>
    <option value="<%= chore.id%>"> <%= chore.title %> </option>
  <% end %>
</select>

  <label for="user_id">Select a User</label>
<select id='user_id' name='user_id' type='text'>
  <option value="<%= @user.id%>"> <%= @user.username %> </option>
</select>

<br></br>
  <button type="submit" name="submit">submit</button>
</form>
