<h1>The Current Chore Cycle:</h1>
<h2>Chores are due Thursday at 10pm.</h2>
<h3>Spencer - Kitchen 1</h3>
<h3>Alex - Kitchen 2</h3>
<h3>Sean - Bathroom</h3>
<h3>Chicken - Living Room</h3>

<h2><a href="/users/<%= @cycle.user.id%>"><%= @user.username%></a></h2>
<br></br>
<a href="/chores">Back to all the chores</a>
<br></br>
<a href="/logout">Log out</a>
