<h1>New Chore</h1>
<form action="/chores" method="POST">
  <p>Create a New Chore:</p>
  <input type="text" name="name" id="chore[name]" placeholder="git 'er done!">
  <br></br>
  <button type="submit" name="submit">submit</button>
</form>
