<h1>New Chore</h1>
<form action="/chores" method="POST">
  <p>Create a New Chore:</p>
  <input type="text" name="title" id="chore[title]" placeholder="git 'er done!">
  <input type="text" name="roommate" id="user[username]" placeholder="lucky duck">
  <br></br>
  <button type="submit" name="submit">submit</button>
</form>
