<h1>CHORES!!</h1>
<h2>Welcome, <%=@user.username%></h2>
<h3>Chores deadline is Thursday at 10pm.</h3>
<h4>Check your box when you have completed your chore!</h4>
<br></br>
 <% @chores.each do |chore|%>
   <h3><a href="/chores/<%= chore.slug%>"><%= chore.title%></h3>
   <h4><%= chore.user.id%></h4>
   <form class="checkbox">
     <input type="checkbox" name="complete" value="complete" id="complete" label="complete">
   </form>
 <%end%>
<br></br>
<a href="/chores/new">Create a new chore!</a>
<a href="/logout">Log out</a>
